<div class="node-box">
    <div>
      <p nz-typography [(nzContent)]="data.label" nzEditable></p>

      <div class="mb-4">
        <div>From Column as String</div>
        <input nz-input placeholder="From String" [(ngModel)]="data.original_column" />
      </div>


      <div class="mb-4">

        <div nz-row class="w-100 mb-2">
          <div nz-col nzSpan='10'>Column</div>
          <div nz-col nzSpan='6'>From</div>
          <div nz-col nzSpan='6'>To</div>
          <div nz-col nzSpan='2'></div>
        </div>
        
        <div nz-row [nzGutter]="7" *ngFor="let sub of data.substrings; let i=index" class="w-100 mt-2">
          <div nz-col nzSpan='10'>
            <input  nz-input placeholder="Column" [(ngModel)]="sub.column"/>
          </div>
          <div nz-col nzSpan='6'>
            <nz-input-number class="w-100" nzPlaceHolder="Start" [(ngModel)]="sub.start"[nzStep]="1"></nz-input-number>
          </div>
          <div nz-col nzSpan='6'>
            <nz-input-number class="w-100" nzPlaceHolder="End"   [(ngModel)]="sub.end"  [nzStep]="1"></nz-input-number>
          </div>
         
          <div nz-col nzSpan='2'>
            <button *ngIf='i>0' nz-button class="ghost" (click)="RemoveSubstring(i)"><i nz-icon nzType="delete"></i></button>
          </div>

        </div>


      </div>
    </div>

    <div class="flex between">
      <button nz-button nzType="dashed" (click)="AddSubstring()"><i nz-icon nzType="plus"></i> Add Substring</button>
      <div class="button-spacing text-right w-100">  
        <button nz-button (click)='cancel()'>Cancel</button>
        <button nz-button nzType='primary' (click)='save()'>Save</button>
      </div>
    </div>
  </div>