.main-container {
  padding: 18px;
  height: 100%;
}

.flex-box {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.flex-child {
  flex: 1 1 auto;
}

.plugin {
  margin-top: 3em;
  display: flex;
  align-items: center;
}

.plugin > * {
  height: 100%;
}

.plugin-select {
  width: 30%;
}
